.schedule {
    width: 100%;
    display: flex;
    align-content: center;
    background-color: white;
    justify-content: center;
    padding-bottom: 5%;
    margin-right: .5%;
}

.schedule .day {
    text-align: start;
}
.day {
    width: 11%;
    margin: 1% 1% 0% 0%;
    display: inline-flex;
    background-color: lightgoldenrodyellow;
    flex-direction: column;

    /*justify-content: center;*/
    /*align-items: flex-start;*/
}
.day-div, .time-dev{
    padding-top: 10%;
    padding-bottom: 10%;
}

.day-div{
    font-size: 20px;
}
.dayTime {
    width: 100%;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.time {
    font-size: 12px;
    width: 100%;
    display: flex;
}

.dayFont{
    font-size: 14px;
    width: 100%;
    display: flex;
}

.align-self{
    align-self: flex-end;
}
.macaron {
    padding-top: 8%;
    padding-bottom: 8%;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    font-size: 14px;
    align-self: flex-end;
}
.coconut {
    background-color: #824603;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.vanilla {
    background-color: #df5277;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.lemon {
    background-color: #a2304e;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.almond {
    background-color: #c39005;
    width: 100%;
    display: flex;
    color: whitesmoke;
}


/*Add Media Query min width 748px*/