.contactInfoContainer{
    height: 350px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.contactInfo {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-left: 75px;
    margin-right: 50px;

}

.contactFormContainer {
    width: 400px;
    display: flex;
    margin-right: 50px;
}

.contactInfoImage {
    width: 400px;
}

.visitUs{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;
}



.orderLink {
    color: deeppink;
}

.contactFormHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969;

}

input {
    height: 35px;
    width: 310px;
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 10px;
}

.textArea {
    height: 105px;
    width: 310px;
    background-color: #f5f5f5;
    border: none;
    margin-bottom: 10px;
}