* {
    margin: 0 auto;
    padding: 0;
}
#root {
    height: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
/*body {*/
    /*margin: 0;*/
/*}*/

.header {
    position: relative;
    background: #fffabe url('../images/logo.png') no-repeat 7% 50%;
    width: 100%;
    max-width: 1000px;
    height: 72px;
}

.nav-bar {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 5px 0;
}

.navmenu {
    display: inline-flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
}

.navmenu li {
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 2vmin;
    padding-top: 1%;

}

.navmenu li a {
    color: #515151;
    /*position: relative;*/
    /*display: inline-block;*/
    /*margin-left: 20px;*/
    /*left: -200px;*/
}

.nav-item{
    padding: 22px;
}

li a:hover {
    color: #d42551;
}

.logoContainer{
    left: 2%;
}
.logo {
    height: 75%;
    width: 65%;
}

.welcomeContainer{
    width: 100%;
    max-width: 1000px;
    height: 400px;
}

.welcomeContainer .welcomeImage {
    width: 100%;
    /*width: auto ;*/
    /*max-width: 100% ;*/
    /*height: auto ;*/
}

.content-container{
    height: 60%;
    width: 90%;
    display: flex;
    padding: 5% 0;
}

.welcomeInfo h2 {
    padding-bottom: 5%;
}

.welcomeInfo p {
    padding-bottom: 5%;
}

#macaronsimage {
    float: left;
    height: 30%;
    padding-right: 5%;
    padding-top: 10%;
}

.welcomeInfo {
    float: right;
}

.our-macarons-text h2 {
    padding-bottom: 5%;
}

.our-macarons-text p {
    padding-bottom: 5%;
}

.our-macarons-image {
    width: 100%;
    background-image: url("../images/our-macarons-background.png");
    background-repeat: no-repeat;
    background-position: 70% 80%;
    padding-bottom: 10%;
    background-size: 100% auto;
}

/*Gifts and Parties Page*/
.gifts-container {
    height: 60%;
    width: 90%;
    display: block;
    padding: 5% 0;
}

.gifts-container h2 {
    padding-bottom: 5%;
}

.gifts-container p {
    padding-bottom: 5%;
}

.gifts-background-image{
    width: 100%;
    background-image: url("../images/gifts-parties-background.png");
    background-repeat: no-repeat;
    background-position: 70% 80%;
    padding-bottom: 20%;
    background-size: 100% auto;
}

.gift-box {
    padding-bottom: 5%;
    margin-left: 5%;
}

.five-tiered {
    padding-bottom: 1%;
    width: 65%;
    float: left;
}