* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
/*#root {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: block;*/
    /**/
/*}*/
.container {
    width: 100%;
    max-width: 1000px;
}

.header {
    position: relative;
    background: #fffabe url('../images/logo.png') no-repeat 7% 50%;
    width: 100%;
    max-width: 1000px;
    height: 72px;
}

.navigation {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 5px 0;
}
.navigation .nav-list {
    padding: 0;
    margin: 0;
}
.nav-item {
    padding: 22px;
    display: inline-block;
}

li a:hover {
    color: #d42551;
}

.logoContainer{
    left: 2%;
}
.logo {
    height: 75%;
    width: 65%;
}

.welcomeContainer{
    width: 100%;
    max-width: 1000px;
    height: 400px;
}

.welcomeContainer .welcomeImage {
    width: 100%;
}

.content-container{
    height: 60%;
    width: 90%;
    display: flex;
    padding: 5% 0;
}

.welcomeInfo h2 {
    padding-bottom: 5%;
}

.welcomeInfo p {
    padding-bottom: 5%;
    font-size: 1.1em;
}

#macaronsimage {
    float: left;
    height: 30%;
    padding-right: 5%;
    padding-top: 10%;
}

.welcomeInfo {
    float: right;
}

.schedule {
    width: 100%;
    display: flex;
    align-content: center;
    background-color: white;
    justify-content: center;
    padding-bottom: 5%;
    margin-right: .5%;
}

.schedule .day {
    text-align: start;
}
.day {
    width: 11%;
    margin: 1% 1% 0% 0%;
    display: inline-flex;
    background-color: lightgoldenrodyellow;
    flex-direction: column;
}

.day-div, .time-dev{
    padding-top: 10%;
    padding-bottom: 10%;
}

.day-div{
    font-size: 18px;
}
.dayTime {
    width: 100%;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.time {
    font-size: 12px;
    width: 100%;
    display: flex;
}

.dayFont{
    font-size: 14px;
    width: 100%;
    display: flex;
}

.align-self{
    align-self: flex-end;
}
.macaron {
    padding-top: 8%;
    padding-bottom: 8%;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    font-size: 14px;
    align-self: flex-end;
}
.coconut {
    background-color: #824603;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.vanilla {
    background-color: #df5277;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.lemon {
    background-color: #a2304e;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.almond {
    background-color: #c39005;
    width: 100%;
    display: flex;
    color: whitesmoke;
}

.our-macarons-text h2 {
    padding-bottom: 5%;
}

.our-macarons-text p {
    padding-bottom: 5%;
}

.our-macarons-image {
    width: 100%;
    background-image: url("../images/our-macarons-background.png");
    background-repeat: no-repeat;
    background-position: 70% 80%;
    padding-bottom: 10%;
    background-size: 100% auto;
}

/*Gifts and Parties Page*/
.gifts-image-container {
    width: 100%;
    max-width: 1000px;
    height: 400px;
}

.gift-container {
    height: 60%;
    width: 90%;
    display: block;
    padding: 5% 0;
}

.gift-container h2 {
    padding-bottom: 5%;
}

.gift-container p {
    padding-bottom: 5%;
}

.gifts-background-image{
    width: 100%;
    background-image: url("../images/gifts-parties-background.png");
    background-repeat: no-repeat;
    background-position: 70% 80%;
    padding-bottom: 20%;
    background-size: 100% auto;
}

.gift-box {
    padding-bottom: 5%;
    margin-left: 5%;
}

.five-tiered {
    padding-bottom: 1%;
    width: 65%;
    float: left;
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .header {
        position: relative;
        background: #fffabe url(../images/logo.png) no-repeat 50% 30%;
        width: 100%;
    }

    .navigation {
        position: relative;
        padding: 29px 0;
        margin: auto;
        text-align: center;
    }

    .nav-item {
        display: inline-block;
        padding: 3% 2%;
    }

    #macaronsimage {
        display: none;
    }

    .welcomeContainer{
        width: 100%;
        max-width: 1000px;
        height: 250px;
    }

}

@media screen and (min-width: 200px) and (max-width: 599px) {
    .header {
        position: relative;
        background: #fffabe url(../images/logo.png) no-repeat 50% 30%;
        width: 100%;
    }

    .navigation {
        position: relative;
        padding: 29px 0;
        margin: auto;
        text-align: center;
    }

    .nav-link {
        font-size: 3.25vmin;
        text-decoration: none;
    }

    .nav-item {
        display: inline-block;
        padding: 4% 1%;
    }

    #macaronsimage {
        display: none;
    }

    .welcomeContainer{
        width: 100%;
        max-width: 1000px;
        height: 150px;
    }

    .nav-menu li {
        font-size: 3vmin;
    }

    .navmenu {
        display: inline-flex;
        list-style-type: none;
        width: 100%;
    }

    .our-macarons-image{
        background-image: none;
    }

    .our-macarons-image ul {
        padding-left: 15%;
    }

    .content-container{
        width: 75%;
    }

    .gifts-image-container {
        width: 100%;
        max-width: 1000px;
        height: 150px;
    }

    .giftsImage{
        width: 100%;
    }

    .gifts-background-image{
        background-image: none;
    }

    .gift-container {
        padding: 2% 0 20% 0;
        font-size: .85em;
    }

    .five-tiered {
        padding-bottom: 0%;
        width: 100%;
    }
}